<a href="https://colab.research.google.com/github/ricyoung/Teaching_MIS776/blob/main/01_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import sqlite3 as sl

Creates a New DB

In [20]:
conn = sl.connect('01_hw.db')

Cursor to execute queries

In [21]:

# create Cursor to execute queries
cur = conn.cursor()

print('Databse created.')

Databse created.

Save changes

In [22]:
conn.commit()
print('Changes saved.')

Changes saved.

close database connection

In [23]:
conn.close()
print('Connection closed.')

Connection closed.

# Create a Table

connect then create

In [24]:
conn = sl.connect('01_hw_demo_table.db')
cur = conn.cursor()

In [25]:
cur.execute('''CREATE TABLE CUSTOMER(
                User_ID INTEGER PRIMARY KEY NOT NULL,
                Product_ID INTEGER NOT NULL,
                Name TEXT NOT NULL,
                Gender TEXT NOT NULL,
                AGE INTEGER NOT NULL,
                CITY TEXT);
                ''')

In [26]:
cur.execute("INSERT INTO CUSTOMER (User_ID, Product_ID, Name, Gender, AGE, CITY) \
             VALUES (1, 101, 'John Doe', 'Male', 30, 'New York')")

In [27]:
conn.commit()

In [28]:
cur.execute("SELECT * FROM CUSTOMER")

rows = cur.fetchall()

# Print column names
column_names = [description[0] for description in cur.description]
print(column_names)

# Print rows
for row in rows:
    print(row)

['User_ID', 'Product_ID', 'Name', 'Gender', 'AGE', 'CITY']
(1, 101, 'John Doe', 'Male', 30, 'New York')