<a href="https://colab.research.google.com/github/ricyoung/Teaching_MIS776/blob/main/Sample_ave.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = 'https://www.dropbox.com/s/d8ns9ukb6i0o66h/loan.csv?dl=1'
df = pd.read_csv(url,  usecols=range(10), low_memory=False)

In [3]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4

In [4]:
df.shape

(2260668, 10)

In [5]:
df['loan_amnt'].dtypes

dtype('int64')

In [6]:
df['loan_amnt'] = pd.to_numeric(df['loan_amnt'], errors='coerce')

In [7]:
average_loan = df['loan_amnt'].mean()
print(average_loan)

15046.931227849467