In [2]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [3]:
df = pd.read_csv("/Volumes/Data_Backup/vehicles.csv")
print(len(df))

In [ ]:
print(df.head(20))

            id                                                url  \
0   7222695916  https://prescott.craigslist.org/cto/d/prescott...
1   7218891961  https://fayar.craigslist.org/ctd/d/bentonville...
2   7221797935  https://keys.craigslist.org/cto/d/summerland-k...
3   7222270760  https://worcester.craigslist.org/cto/d/west-br...
4   7210384030  https://greensboro.craigslist.org/cto/d/trinit...
5   7222379453  https://hudsonvalley.craigslist.org/cto/d/west...
6   7221952215  https://hudsonvalley.craigslist.org/cto/d/west...
7   7220195662  https://hudsonvalley.craigslist.org/cto/d/poug...
8   7209064557  https://medford.craigslist.org/cto/d/grants-pa...
9   7219485069  https://erie.craigslist.org/cto/d/erie-2012-su...
10  7218893038  https://elpaso.craigslist.org/ctd/d/el-paso-20...
11  7218325704  https://elpaso.craigslist.org/ctd/d/el-paso-20...
12  7217788283  https://elpaso.craigslist.org/ctd/d/el-paso-20...
13  7217147606  https://elpaso.craigslist.org/ctd/d/el-paso-20...
14  7209027818  https://elpaso.craigslist.org/ctd/d/el-paso-20...
15  7223509794  https://bellingham.craigslist.org/ctd/d/bellin...
16  7222753076  https://bellingham.craigslist.org/ctd/d/bellin...
17  7222206015  https://bellingham.craigslist.org/ctd/d/bellin...
18  7220030122  https://bellingham.craigslist.org/ctd/d/bellin...
19  7218423006  https://bellingham.craigslist.org/ctd/d/bellin...

                    region  price  year manufacturer model fuel  odometer  \
0                 prescott   6000   NaN          NaN   NaN  NaN       NaN
1             fayetteville  11900   NaN          NaN   NaN  NaN       NaN
2             florida keys  21000   NaN          NaN   NaN  NaN       NaN
3   worcester / central MA   1500   NaN          NaN   NaN  NaN       NaN
4               greensboro   4900   NaN          NaN   NaN  NaN       NaN
5            hudson valley   1600   NaN          NaN   NaN  NaN       NaN
6            hudson valley   1000   NaN          NaN   NaN  NaN       NaN
7            hudson valley  15995   NaN          NaN   NaN  NaN       NaN
8          medford-ashland   5000   NaN          NaN   NaN  NaN       NaN
9                     erie   3000   NaN          NaN   NaN  NaN       NaN
10                 el paso      0   NaN          NaN   NaN  NaN       NaN
11                 el paso      0   NaN          NaN   NaN  NaN       NaN
12                 el paso      0   NaN          NaN   NaN  NaN       NaN
13                 el paso      0   NaN          NaN   NaN  NaN       NaN
14                 el paso      0   NaN          NaN   NaN  NaN       NaN
15              bellingham  13995   NaN          NaN   NaN  NaN       NaN
16              bellingham  24999   NaN          NaN   NaN  NaN       NaN
17              bellingham  21850   NaN          NaN   NaN  NaN       NaN
18              bellingham  26850   NaN          NaN   NaN  NaN       NaN
19              bellingham  11999   NaN          NaN   NaN  NaN       NaN

   title_status transmission  VIN drive size type paint_color description  \
0           NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
1           NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
2           NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
3           NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
4           NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
5           NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
6           NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
7           NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
8           NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
9           NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
10          NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
11          NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
12          NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
13          NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
14          NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
15          NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
16          NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
17          NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
18          NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN
19          NaN          NaN  NaN   NaN  NaN  NaN         NaN         NaN

   state posting_date
0     az          NaN
1     ar          NaN
2     fl          NaN
3     ma          NaN
4     nc          NaN
5     ny          NaN
6     ny          NaN
7     ny          NaN
8     or          NaN
9     pa          NaN
10    tx          NaN
11    tx          NaN
12    tx          NaN
13    tx          NaN
14    tx          NaN
15    wa          NaN
16    wa          NaN
17    wa          NaN
18    wa          NaN
19    wa          NaN

In [ ]:
columns = df.columns
print(columns)

In [ ]:
df = df.drop(['image_url', 'lat', 'long', 'county', 'region_url', 'condition', 'cylinders', 'transmission', 'title_status', 'odometer', 'fuel'], axis=1)

In [ ]:
import sqlite3

In [ ]:
df.to_csv('/Volumes/Data_Backup/vehicles_2.csv', index=False)

In [ ]:
# df.to_sql('table_name', conn, if_exists='replace')

NameError: name 'conn' is not defined

In [ ]:
# conn = sqlite3.connect('vehicles.db')

OperationalError: unable to open database file